

/* Contact section styles */
.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .contact-details,
  .contact-form {
    flex-basis: calc(50% - 10px);
  }
  
  @media screen and (max-width: 768px) {
    .contact-details,
    .contact-form {
      flex-basis: 100%;
    }
  }
  
  /* Contact details styles */
  .contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for contact details */
  }
  
  .contact-details h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #007bff; /* Blue header color */
    font-family: Arial, sans-serif; /* Font family for header */
  }
  
  .contact-details p {
    margin-bottom: 10px;
    color: #444; /* Text color for paragraphs */
  }
  
  /* Contact form styles */
  .contact-form {
    background-color: #f9f9f9; /* Light gray background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow for contact form */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Transition for transform, box-shadow, and background-color */
  }
  
  .contact-form:hover {
    transform: translateY(-5px); /* Add a slight upward movement on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Enhance shadow on hover */
    background-color: #fff; /* Change background color on hover */
  }
  
  
  .contact-form h2 {
    margin-bottom: 20px;
    color: #007bff; /* Blue header color */
    font-family: Arial, sans-serif; /* Font family for header */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #555; /* Text color for labels */
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease; /* Smooth transition for input border color */
  }
  
  input[type="checkbox"] {
    margin-right: 5px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff; /* Blue background color for submit button */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
      width: 100%;
  
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for button background color */
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3; /* Darker blue color on hover */
    transform: translateY(-2px); /* Add a slight upward movement on hover */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow on hover */
  }
  .message-sent {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
    text-align: center; /* Center text */
  }
  
  .right-mark-logo {
    margin-bottom: 1rem; /* Adjust margin bottom as needed */
  }