.container {
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
  .content {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .content.show {
    opacity: 1;
  }
  
  /* Add more styling as needed */
/* App.css */
.content.show .component {
    transition: transform 0.3s ease;
  }
  
  .content.show .component:hover {
    transform: scale(1.05); /* Scale up on hover */
  }
    /* Add these styles to your App.css */

.chatbot-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.chatbot-toggle-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.chatbot-toggle-button:hover {
  background-color: #0056b3;
}

.chatbot-iframe {
  width: 450px;
  height: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border: none;
  margin-top: 10px;
}
